<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.DroneMaintenanceMapper">
    
    <resultMap type="DroneMaintenance" id="DroneMaintenanceResult">
        <result property="id"    column="id"    />
        <result property="droneId"    column="drone_id"    />
        <result property="maintenanceTime"    column="maintenance_time"    />
        <result property="maintenanceReason"    column="maintenance_reason"    />
    </resultMap>

    <sql id="selectDroneMaintenanceVo">
        select id, drone_id, maintenance_time, maintenance_reason from drone_maintenance
    </sql>

    <select id="selectDroneMaintenanceList" parameterType="DroneMaintenance" resultMap="DroneMaintenanceResult">
        <include refid="selectDroneMaintenanceVo"/>
        <where>  
            <if test="droneId != null  and droneId != ''"> and drone_id = #{droneId}</if>
            <if test="maintenanceTime != null "> and maintenance_time = #{maintenanceTime}</if>
            <if test="maintenanceReason != null  and maintenanceReason != ''"> and maintenance_reason = #{maintenanceReason}</if>
        </where>
    </select>
    
    <select id="selectDroneMaintenanceById" parameterType="String" resultMap="DroneMaintenanceResult">
        <include refid="selectDroneMaintenanceVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertDroneMaintenance" parameterType="DroneMaintenance">
        insert into drone_maintenance
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="droneId != null and droneId != ''">drone_id,</if>
            <if test="maintenanceTime != null">maintenance_time,</if>
            <if test="maintenanceReason != null and maintenanceReason != ''">maintenance_reason,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="droneId != null and droneId != ''">#{droneId},</if>
            <if test="maintenanceTime != null">#{maintenanceTime},</if>
            <if test="maintenanceReason != null and maintenanceReason != ''">#{maintenanceReason},</if>
         </trim>
    </insert>

    <update id="updateDroneMaintenance" parameterType="DroneMaintenance">
        update drone_maintenance
        <trim prefix="SET" suffixOverrides=",">
            <if test="droneId != null and droneId != ''">drone_id = #{droneId},</if>
            <if test="maintenanceTime != null">maintenance_time = #{maintenanceTime},</if>
            <if test="maintenanceReason != null and maintenanceReason != ''">maintenance_reason = #{maintenanceReason},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteDroneMaintenanceById" parameterType="String">
        delete from drone_maintenance where id = #{id}
    </delete>

    <delete id="deleteDroneMaintenanceByIds" parameterType="String">
        delete from drone_maintenance where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>