<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.DroneFlightMapper">
    
    <resultMap type="DroneFlight" id="DroneFlightResult">
        <result property="id"    column="id"    />
        <result property="droneId"    column="drone_id"    />
        <result property="flightMileage"    column="flight_mileage"    />
        <result property="flightConsume"    column="flight_consume"    />
        <result property="flightTime"    column="flight_time"    />
        <result property="lastOnlineTime"    column="last_online_time"    />
    </resultMap>

    <sql id="selectDroneFlightVo">
        select id, drone_id, flight_mileage, flight_consume, flight_time, last_online_time from drone_flight
    </sql>

    <select id="selectDroneFlightList" parameterType="DroneFlight" resultMap="DroneFlightResult">
        <include refid="selectDroneFlightVo"/>
        <where>  
            <if test="droneId != null  and droneId != ''"> and drone_id = #{droneId}</if>
            <if test="flightMileage != null "> and flight_mileage = #{flightMileage}</if>
            <if test="flightConsume != null "> and flight_consume = #{flightConsume}</if>
            <if test="flightTime != null "> and flight_time = #{flightTime}</if>
            <if test="lastOnlineTime != null "> and last_online_time = #{lastOnlineTime}</if>
        </where>
    </select>
    
    <select id="selectDroneFlightById" parameterType="String" resultMap="DroneFlightResult">
        <include refid="selectDroneFlightVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertDroneFlight" parameterType="DroneFlight">
        insert into drone_flight
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="droneId != null and droneId != ''">drone_id,</if>
            <if test="flightMileage != null">flight_mileage,</if>
            <if test="flightConsume != null">flight_consume,</if>
            <if test="flightTime != null">flight_time,</if>
            <if test="lastOnlineTime != null">last_online_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="droneId != null and droneId != ''">#{droneId},</if>
            <if test="flightMileage != null">#{flightMileage},</if>
            <if test="flightConsume != null">#{flightConsume},</if>
            <if test="flightTime != null">#{flightTime},</if>
            <if test="lastOnlineTime != null">#{lastOnlineTime},</if>
         </trim>
    </insert>

    <update id="updateDroneFlight" parameterType="DroneFlight">
        update drone_flight
        <trim prefix="SET" suffixOverrides=",">
            <if test="droneId != null and droneId != ''">drone_id = #{droneId},</if>
            <if test="flightMileage != null">flight_mileage = #{flightMileage},</if>
            <if test="flightConsume != null">flight_consume = #{flightConsume},</if>
            <if test="flightTime != null">flight_time = #{flightTime},</if>
            <if test="lastOnlineTime != null">last_online_time = #{lastOnlineTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteDroneFlightById" parameterType="String">
        delete from drone_flight where id = #{id}
    </delete>

    <delete id="deleteDroneFlightByIds" parameterType="String">
        delete from drone_flight where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>